[submodule "hl2sdk"]
	path = alliedmodders/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk.git
[submodule "metamod-source"]
	path = alliedmodders/metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
[submodule "third_party/google/protobuf"]
	path = third_party/google/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "api"]
	path = api
	url = git@github.com:resourcemod/api.git
